@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@supports not (-webkit-tap-highlight-color: white) {
  /* CSS specific to other than iOS devices */
  html:has(.portal-layout) {
    overflow: hidden;
    overscroll-behavior: none;
  }
}

@supports (-webkit-tap-highlight-color: white) {
  /* CSS specific to iOS devices */
  html:has(.portal-layout) {
    overflow: auto;
    scrollbar-width: none;
    overscroll-behavior: none;
  }
}
